.order-item{
	border-top: 0.346667rem solid #efefef;
}

.order-item-inner{
	display: flex;
	border-bottom: 1px solid #e0e0e0;
	margin-top: 0.213333rem;
	padding-bottom: 0.48rem;
}

.order-item .order-img{
	display: block;
	width: 1.066667rem;
	height: 1.066667rem;
	border-radius: 50%;
	margin-left: 0.426667rem;
	
}

.order-item .item-right{
	flex-grow: 1;
	font-size: 0.373333rem;
	margin-left: 0.4rem;
}


.order-item .item-top{
	height: 1.2rem;
	border-bottom: 1px solid #e0e0e0;
	display: flex;
	align-items: center;
}


.order-item .order-name{
	font-size: 0.426667rem;
	width: 4.8rem;
}

.order-item .arrow{
	height: 0.266667rem;
	width: 0.266667rem;
	border: 0.026667rem solid #666;
	border-width: 0.026667rem 0.026667rem  0 0;
	transform: rotate(45deg);
}

.order-item .order-state{
	margin-left: 1.2rem;
}

.order-item .product-item{
	display: flex;
	justify-content: space-between;
	margin-top: 0.32rem;
	margin-right: 0.4rem;
	color: #666;
}

.order-item .p-total-count{
	font-size: 0.32rem;
}
.order-item .total-price{
	font-weight: 600;
	margin-left: 0.106667rem;
	color: #222;
}


.order-item .comment{
	display: flex;
	justify-content: flex-end;;
	align-items: center;
	height: 1.333333rem;
}

.order-item .comment-btn{
	width: 2.56rem;
	height: 0.8rem;
	color: #6b450a;
	background-color: #ffd161;
	font-size: 0.373333rem;
	border: none;
	outline: none;
	margin-right: 0.64rem;
}